<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Khoa Pham</title>
        <style>
            hr { 
               visibility: hidden; 
            }
            .div-nav {
                display: flex;
                width: 300px;
                justify-content: space-between; 
            }
        </style>
    </head>
    <body>
        <div>
            <h3>Mai Phuong Thuy</h3>
            <div class="div-nav">
                <a href="#">Previous</a>
                <a href="#">Next</a>
            </div>
            <hr />
            <img src="1.jpg" alt="">
            <hr />
            <div class="div-nav">
                <a href="#">8 Like</a>
                <a href="#">10 Dislike</a>
            </div>
        </div>
    </body>
</html>

